<ion-header>
  <ion-toolbar>
    <ion-title><b>Carlos Cunalata</b></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <ion-list inset>
    <ion-list-header>GENERAL</ion-list-header>
    <ion-item routerLink="/user/user-info">
      <ion-label>Informacion Personal</ion-label>
      <ion-icon slot="end" name="person-circle-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/user/payment-method">
      <ion-label>Métodos de Pago y Moneda</ion-label>
      <ion-icon slot="end" name="card-outline"></ion-icon>
    </ion-item>
    <br />
    <ion-list-header>REFERENCIAS</ion-list-header>
    <ion-item>
      <ion-label
        >Invita a tus Amigos<br /><ion-label style="font-size: small"
          >Comparte y consigue descuentos</ion-label
        ></ion-label
      >
      <ion-icon slot="end" name="gift-outline"></ion-icon>
    </ion-item>
    <br />
    <ion-list-header>LEGAL</ion-list-header>
    <ion-item>
      <ion-label>Términos y Condiciones</ion-label>
      <ion-icon slot="end" name="newspaper-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Cerrar Sesión</ion-label>
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
