ion-content {
    --background: url('../../assets/background4.jpg') 0 0/100% no-repeat;
 }


 ion-input{
    border-radius: 5px;
 }

 .login-box-body {
    padding: 5px 5px 0px 5px;
    border-top: 0;
    border-radius: 0px 0px 4px 4px;
}

