ion-content {
    --background: url('../../assets/background5.jpg') 0 0/100% no-repeat;
 }

 ion-input{
    border-radius: 5px;
 }

 .login-box-body {
    padding: 10px 10px 0px 10px;
    border-top: 0;
    color: #67757c;
    border-radius: 0px 0px 4px 4px;
}

