<ion-header>
  <ion-toolbar>
    <ion-title>Métodos de Pago</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user">atras</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item routerLink="/user/payment-method/credit-card">
      <ion-label>Formas de Pago</ion-label>
      <ion-icon slot="end" name="card-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label
        >Pago Preferente</ion-label>
        <ion-icon slot="end" name="bookmarks-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Creditos & Cupones</ion-label>
      <ion-icon slot="end" name="pricetag-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Moneda</ion-label>
      <ion-icon slot="end" name="logo-usd"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
